<mat-card>
    <mat-action-list>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>check_circle</mat-icon>Home</button>
        <!-- <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>check_circle</mat-icon>Profile</button> -->
        <button mat-list-item routerLink="/admin/category">
            <mat-icon mat-list-icon>check_circle</mat-icon>Product Categories</button>
        <button mat-list-item routerLink="/admin/product">
            <mat-icon mat-list-icon>check_circle</mat-icon>Add Product</button>
        <button mat-list-item routerLink="/admin/report">
            <mat-icon mat-list-icon>check_circle</mat-icon>Sales Report</button>
        <button mat-list-item routerLink="/admin/discount">
            <mat-icon mat-list-icon>check_circle</mat-icon>Discounts</button>
        <button mat-list-item routerLink="/admin/stock">
            <mat-icon mat-list-icon>check_circle</mat-icon>Stocks</button>
    </mat-action-list>
</mat-card>
