<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row" style="margin-top : 20px">
        <div class="col-md-6 offset-md-3">
            <mat-card>
            <div class="container text-center">
                <img src="../../../assets/logo.jpg" alt=""/>
            </div>
            <h1 class="text-center">LOGIN</h1>
            <!-- {{loginData | json}} -->
            <form (ngSubmit)="formSubmit()">

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input 
                    [(ngModel)]="loginData.username"
                    name="username"
                    matInput placeholder="Enter Username" required>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                    [(ngModel)]="loginData.password"
                    name="password"
                    type="password" matInput placeholder="Enter Password" required>
                </mat-form-field>

                <div class="container text-center">
                    <button type="submit" mat-raised-button style="margin-right:20px" color="primary">Login</button>
                    <button mat-raised-button color="warn">Reset</button>
                </div>

            </form>
        </mat-card>
        </div>
      </div>
    </div> 
  </div>

